# 1. 데이터 가져오기

In [171]:
import pandas as pd
import re

In [172]:
review4us = pd.read_csv("자사리뷰.csv")
review4rivals = pd.read_csv("경쟁사리뷰.csv")

review4us.tail(100)

,Unnamed: 0,title,rating,date,time,view,text,naver,photo
27119,27119,만족,5점,2018-08-26,02:21:43,17,만족합니다,1,0
27120,27120,보통,3점,2018-08-25,02:34:32,18,"먹은지 일주일이지만, 아직은 잘 모르겠어요!",1,0
27121,27121,만족,5점,2018-08-25,02:23:30,20,더 먹어봐야 알겟지만 좋은거같아요,1,0
27122,27122,만족,5점,2018-08-25,02:23:30,17,좋네요오오오ㅎㅎㅇㅋ오 ㅎㅎ,1,0
27123,27123,보통,3점,2018-08-24,02:49:49,16,계속 먹어보면 알겠죠 아직은 별효과업근긋,1,0
...,...,...,...,...,...,...,...,...,...
27214,27214,만족,5점,2018-07-11,02:24:45,7,개별포장 편하고 좋네요,1,0
27215,27215,만족,5점,2018-07-07,02:41:20,8,여자친구님께서 매우 만족하셨습니다.,1,0
27216,27216,만족,5점,2018-07-02,02:38:11,33,좋은구성이네요 효과봤으면 좋겠네요,1,0
27217,27217,만족,5점,2018-06-27,02:56:11,34,이제받았어요,1,0
27218,27218,만족,5점,2018-06-26,02:29:45,35,배송이 좀 늦었어요...ㅠㅠ\n원하는 날부터 시작은 못했지만 기대해봅니다ㅎㅎ,1,0

In [173]:
#unnamed는 필요없는 열이므로 제거한다
del review4rivals['Unnamed: 0']
del review4us['Unnamed: 0']

# Unnamed 열이 사라졌음을 볼 수 있다. 
print(review4rivals.columns, review4us.columns)

Index(['date', 'item', 'text', 'rating', 'user_name', 'photo', 'one_month',
       'repurchase', 'pre_reviewed'],
      dtype='object') Index(['title', 'rating', 'date', 'time', 'view', 'text', 'naver', 'photo'], dtype='object')

# 2. 분석 전 데이터 전처리 
* review4rivlas 의 item 종류에 각종 특수문자, 의미없는 숫자 제거하기. 
- https://regexr.com/ 이 사이트를 이용하면 정규표현식을 그나마 손쉽게 try out 할 수 있다. 
* text colum에 있는 특수문자들 제거하기. 
* unnamed column은 뭐지?

In [174]:
# item 종류에 있는 각종 특수문자와 의미없는 문자 제거하기 : ': 세미콜론 위에 있는 글자는 다 없애기.  '
def modify1(item):
    x=re.sub(r'[^.]*:([^ ]*)', '', str(item))     ## 이거 알아내는데 5시간 걸렸다.. 실환가?
    return(x)   

review4rivals['item'] = review4rivals['item'].apply(modify1)


def modify2(item):                    # 특수문자 제거 
    x=re.sub(r'[^\s\w]','',str(item))               
    return(x)
review4rivals['item'] = review4rivals['item'].apply(modify2)

def modify3(item):                   #락토핏 앞에 거슬렸던 2, 9, 3과 같은 숫자들이 사라진다. 
    x=re.sub('\d(락토핏)','락토핏',str(item))
    return(x)
review4rivals['item'] = review4rivals['item'].apply(modify3)

def modify4(item):
    x=re.sub('\d.','',str(item))     # 몇통, 몇포와 같은 수량정보를 제거한다. 다만 락토핏 코스트코 생유산균19 라는 제품명이 생유산균 으로 바뀌는 단점이 있다. 
    return(x)
review4rivals['item'] = review4rivals['item'].apply(modify4)

In [175]:
review4rivals['item']

0         락토핏 생유산균 골드
1         락토핏 생유산균 골드
2         락토핏 생유산균 골드
3         락토핏 생유산균 키즈
4         락토핏 생유산균 골드
             ...
36392     락토핏 코스트코 생유산균
36393     락토핏 생유산균 골드
36394     락토핏 생유산균 골드
36395     락토핏 코스트코 생유산균
36396     락토핏 생유산균 골드
Name: item, Length: 36397, dtype: object

In [179]:
review4rivals.item.values

array([' 락토핏 생유산균 골드', ' 락토핏 생유산균 골드', ' 락토핏 생유산균 골드', ...,
       ' 락토핏 생유산균 골드 ', ' 락토핏 코스트코 생유산균 ', ' 락토핏 생유산균 골드 '], dtype=object)